{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />    
	<link href="{% static 'css/templatemo-style.css' %}"   rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static  'img/header.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{% static  'img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo" />
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Generative Models</h1>
								<h6 class="tm-site-description">Grow your core molecule automatically!</h6>
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="index.html" class="tm-nav-link active">Generative Models</a></li>
								<!--<li class="tm-nav-li"><a href="about.html" class="tm-nav-link">QSAR</a></li>>
								<!--<li class="tm-nav-li"><a href="contact.html" class="tm-nav-link">Analogs Finder</a></li>-->
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Welcome to NostrumAI</h2>
			</header>
			
			<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">RNN</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">VAE</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">GAN</a></li>
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-rnn" class="tm-gallery-page">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static  'img/gallery/01.png' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">High throughput</h4>
								<p class="tm-gallery-description">Grow fragments from core in all
									positions where a hydrogen is found.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static  'img/gallery/02.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Low Throughput</h4>
								<p class="tm-gallery-description">Grow in a specific direction.</p>
							</figcaption>
						</figure>
					</article>
				</div> <!-- gallery page 1 -->
				<!-- gallery page 2 -->
				<div id="tm-gallery-page-vae" class="tm-gallery-page hidden">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static  'img/gallery/03.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">VAE</h4>
								<p class="tm-gallery-description">Generate as many similar molecules as possible to a given core.</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static  'img/gallery/04.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Conditional VAE</h4>
								<p class="tm-gallery-description">Generate molecules with several conditions by changing the model loss function</p>
							</figcaption>
						</figure>
					</article>
				</div> <!-- gallery page 2 -->
				<!-- gallery page 3 -->
				<div id="tm-gallery-page-gan" class="tm-gallery-page hidden">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static  'img/gallery/05.png' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">HT GAN model</h4>
								<p class="tm-gallery-description">Not Implemented Yet</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static  'img/gallery/06.jpeg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">GAN model with Reinforcement Learning</h4>
								<p class="tm-gallery-description">Not Implemented Yet</p>

							</figcaption>
						</figure>
					</article>
				</div> <!-- gallery page 3 -->
			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2020 Daniel Soler Viladrich
            | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
		</footer>
	</div>
	<script src="{% static  'js/jquery.min.js' %}"></script>
	<script src="{% static  'js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>